@font-face {
    font-family: Halloween;
    src: url(fonts/HalloweenSlime.otf);
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Satoshi;
    src: url(fonts/Satoshi-Medium.ttf);
}

:root {
    --col1: rgb(14, 14, 14);
    --col2: rgb(245, 245, 245);
    --col3: rgb(196, 48, 146);
    --col4: rgb(10, 98, 230);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Satoshi;
}

body {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 50px;
}

a {
    color: blue;
}

a:active {
    color: var(--col3);
}

form h2 {
    font-family: Halloween;
    color: var(--col3) !important;
    font-style: italic;
    font-size: 35px;
    cursor: pointer;
    margin: 10px 2px;
}

#show-password {
    display: none;
}

form {
    width: 340px;
    padding: 10px 30px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin: 17px;
    gap: 10px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(167, 167, 167);
}

form #password {
    width: 92%;
    margin-bottom: 0px;
    border: none;
    outline: none;
}

form input:focus {
    outline: 1px solid rgb(146, 146, 146);
}

form .form-tag {
    border: 1px solid rgb(167, 167, 167);
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    align-items: center;
}

form button {
    background: var(--col4);
    padding: 7px;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.9;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

form button:hover {
    opacity: 1;
    transform: scale(1.008);
}

form button:disabled {
    opacity: 0.5;
    cursor: no-drop;
}

form button:disabled:hover {
    transform: scale(1);
}

.addon {
    padding: 10px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 340px;
    margin: 17px;
}


.img {
    width: 400px;
    overflow: hidden;
    display: flex;
    padding-top: 15px;
}

.img img {
    border: 2px solid rgb(160, 160, 160);
    border-radius: 12px;
}

.img2 {
    margin-left: -65px;
    z-index: 99;
}

.img2 img {
    height: 400px;
    width: 300px;
}

.img1 img {
    height: 400px;
    width: 270px;
}

.img1 {
    z-index: 1;
}

.e {
    color: rgb(228, 43, 43);
}

@media (max-width:850px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}